.idea
vendor
UPGRADE.txt
WHATS_NEW.txt
INSTALL.md
docker*
Dockerfile
import_customers.csv
public/bower_components
public/images
public/uploads
node_modules
cypress/integration/examples
application/tests/build
application/tests/.phpunit.result.cache
application/logs